# coding: utf-8

"""
    Aspose.Imaging Cloud API Reference

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 3.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from asposeimagingcloud.api_client import ApiClient


class ImagingApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def copy_file(self, src_path, dest_path, **kwargs):  # noqa: E501
        """Copy file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_file(src_path, dest_path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str src_path: Source file path e.g. '/folder/file.ext' (required)
        :param str dest_path: Destination file path (required)
        :param str src_storage_name: Source storage name
        :param str dest_storage_name: Destination storage name
        :param str version_id: File version ID to copy
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_file_with_http_info(src_path, dest_path, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_file_with_http_info(src_path, dest_path, **kwargs)  # noqa: E501
            return data

    def copy_file_with_http_info(self, src_path, dest_path, **kwargs):  # noqa: E501
        """Copy file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_file_with_http_info(src_path, dest_path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str src_path: Source file path e.g. '/folder/file.ext' (required)
        :param str dest_path: Destination file path (required)
        :param str src_storage_name: Source storage name
        :param str dest_storage_name: Destination storage name
        :param str version_id: File version ID to copy
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['src_path', 'dest_path', 'src_storage_name', 'dest_storage_name', 'version_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'src_path' is set
        if ('src_path' not in params or
                params['src_path'] is None):
            raise ValueError("Missing the required parameter `src_path` when calling `copy_file`")  # noqa: E501
        # verify the required parameter 'dest_path' is set
        if ('dest_path' not in params or
                params['dest_path'] is None):
            raise ValueError("Missing the required parameter `dest_path` when calling `copy_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'src_path' in params:
            path_params['srcPath'] = params['src_path']  # noqa: E501

        query_params = []
        if 'dest_path' in params:
            query_params.append(('destPath', params['dest_path']))  # noqa: E501
        if 'src_storage_name' in params:
            query_params.append(('srcStorageName', params['src_storage_name']))  # noqa: E501
        if 'dest_storage_name' in params:
            query_params.append(('destStorageName', params['dest_storage_name']))  # noqa: E501
        if 'version_id' in params:
            query_params.append(('versionId', params['version_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/storage/file/copy/{srcPath}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def copy_folder(self, src_path, dest_path, **kwargs):  # noqa: E501
        """Copy folder  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_folder(src_path, dest_path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str src_path: Source folder path e.g. '/src' (required)
        :param str dest_path: Destination folder path e.g. '/dst' (required)
        :param str src_storage_name: Source storage name
        :param str dest_storage_name: Destination storage name
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_folder_with_http_info(src_path, dest_path, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_folder_with_http_info(src_path, dest_path, **kwargs)  # noqa: E501
            return data

    def copy_folder_with_http_info(self, src_path, dest_path, **kwargs):  # noqa: E501
        """Copy folder  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_folder_with_http_info(src_path, dest_path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str src_path: Source folder path e.g. '/src' (required)
        :param str dest_path: Destination folder path e.g. '/dst' (required)
        :param str src_storage_name: Source storage name
        :param str dest_storage_name: Destination storage name
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['src_path', 'dest_path', 'src_storage_name', 'dest_storage_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'src_path' is set
        if ('src_path' not in params or
                params['src_path'] is None):
            raise ValueError("Missing the required parameter `src_path` when calling `copy_folder`")  # noqa: E501
        # verify the required parameter 'dest_path' is set
        if ('dest_path' not in params or
                params['dest_path'] is None):
            raise ValueError("Missing the required parameter `dest_path` when calling `copy_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'src_path' in params:
            path_params['srcPath'] = params['src_path']  # noqa: E501

        query_params = []
        if 'dest_path' in params:
            query_params.append(('destPath', params['dest_path']))  # noqa: E501
        if 'src_storage_name' in params:
            query_params.append(('srcStorageName', params['src_storage_name']))  # noqa: E501
        if 'dest_storage_name' in params:
            query_params.append(('destStorageName', params['dest_storage_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/storage/folder/copy/{srcPath}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_folder(self, path, **kwargs):  # noqa: E501
        """Create the folder  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_folder(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: Folder path to create e.g. 'folder_1/folder_2/' (required)
        :param str storage_name: Storage name
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_folder_with_http_info(path, **kwargs)  # noqa: E501
        else:
            (data) = self.create_folder_with_http_info(path, **kwargs)  # noqa: E501
            return data

    def create_folder_with_http_info(self, path, **kwargs):  # noqa: E501
        """Create the folder  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_folder_with_http_info(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: Folder path to create e.g. 'folder_1/folder_2/' (required)
        :param str storage_name: Storage name
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['path', 'storage_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'path' is set
        if ('path' not in params or
                params['path'] is None):
            raise ValueError("Missing the required parameter `path` when calling `create_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path' in params:
            path_params['path'] = params['path']  # noqa: E501

        query_params = []
        if 'storage_name' in params:
            query_params.append(('storageName', params['storage_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/storage/folder/{path}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_file(self, path, **kwargs):  # noqa: E501
        """Delete file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_file(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: File path e.g. '/folder/file.ext' (required)
        :param str storage_name: Storage name
        :param str version_id: File version ID to delete
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_file_with_http_info(path, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_file_with_http_info(path, **kwargs)  # noqa: E501
            return data

    def delete_file_with_http_info(self, path, **kwargs):  # noqa: E501
        """Delete file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_file_with_http_info(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: File path e.g. '/folder/file.ext' (required)
        :param str storage_name: Storage name
        :param str version_id: File version ID to delete
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['path', 'storage_name', 'version_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'path' is set
        if ('path' not in params or
                params['path'] is None):
            raise ValueError("Missing the required parameter `path` when calling `delete_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path' in params:
            path_params['path'] = params['path']  # noqa: E501

        query_params = []
        if 'storage_name' in params:
            query_params.append(('storageName', params['storage_name']))  # noqa: E501
        if 'version_id' in params:
            query_params.append(('versionId', params['version_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/storage/file/{path}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_folder(self, path, **kwargs):  # noqa: E501
        """Delete folder  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_folder(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: Folder path e.g. '/folder' (required)
        :param str storage_name: Storage name
        :param bool recursive: Enable to delete folders, subfolders and files
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_folder_with_http_info(path, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_folder_with_http_info(path, **kwargs)  # noqa: E501
            return data

    def delete_folder_with_http_info(self, path, **kwargs):  # noqa: E501
        """Delete folder  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_folder_with_http_info(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: Folder path e.g. '/folder' (required)
        :param str storage_name: Storage name
        :param bool recursive: Enable to delete folders, subfolders and files
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['path', 'storage_name', 'recursive']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_folder" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'path' is set
        if ('path' not in params or
                params['path'] is None):
            raise ValueError("Missing the required parameter `path` when calling `delete_folder`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path' in params:
            path_params['path'] = params['path']  # noqa: E501

        query_params = []
        if 'storage_name' in params:
            query_params.append(('storageName', params['storage_name']))  # noqa: E501
        if 'recursive' in params:
            query_params.append(('recursive', params['recursive']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/storage/folder/{path}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_search_context(self, search_context_id, **kwargs):  # noqa: E501
        """Deletes the search context.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_search_context(search_context_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_context_id: The search context identifier. (required)
        :param str folder: The folder.
        :param str storage: The storage.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_search_context_with_http_info(search_context_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_search_context_with_http_info(search_context_id, **kwargs)  # noqa: E501
            return data

    def delete_search_context_with_http_info(self, search_context_id, **kwargs):  # noqa: E501
        """Deletes the search context.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_search_context_with_http_info(search_context_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_context_id: The search context identifier. (required)
        :param str folder: The folder.
        :param str storage: The storage.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search_context_id', 'folder', 'storage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_search_context" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'search_context_id' is set
        if ('search_context_id' not in params or
                params['search_context_id'] is None):
            raise ValueError("Missing the required parameter `search_context_id` when calling `delete_search_context`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'search_context_id' in params:
            path_params['searchContextId'] = params['search_context_id']  # noqa: E501

        query_params = []
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/ai/imageSearch/{searchContextId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_search_context_image(self, search_context_id, image_id, **kwargs):  # noqa: E501
        """Delete image and images features from search context  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_search_context_image(search_context_id, image_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_context_id: Search context identifier. (required)
        :param str image_id: Image identifier. (required)
        :param str folder: Folder.
        :param str storage: Storage
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_search_context_image_with_http_info(search_context_id, image_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_search_context_image_with_http_info(search_context_id, image_id, **kwargs)  # noqa: E501
            return data

    def delete_search_context_image_with_http_info(self, search_context_id, image_id, **kwargs):  # noqa: E501
        """Delete image and images features from search context  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_search_context_image_with_http_info(search_context_id, image_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_context_id: Search context identifier. (required)
        :param str image_id: Image identifier. (required)
        :param str folder: Folder.
        :param str storage: Storage
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search_context_id', 'image_id', 'folder', 'storage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_search_context_image" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'search_context_id' is set
        if ('search_context_id' not in params or
                params['search_context_id'] is None):
            raise ValueError("Missing the required parameter `search_context_id` when calling `delete_search_context_image`")  # noqa: E501
        # verify the required parameter 'image_id' is set
        if ('image_id' not in params or
                params['image_id'] is None):
            raise ValueError("Missing the required parameter `image_id` when calling `delete_search_context_image`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'search_context_id' in params:
            path_params['searchContextId'] = params['search_context_id']  # noqa: E501

        query_params = []
        if 'image_id' in params:
            query_params.append(('imageId', params['image_id']))  # noqa: E501
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/ai/imageSearch/{searchContextId}/image', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_search_context_image_features(self, search_context_id, image_id, **kwargs):  # noqa: E501
        """Deletes image features from search context.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_search_context_image_features(search_context_id, image_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_context_id: The search context identifier. (required)
        :param str image_id: The image identifier. (required)
        :param str folder: The folder.
        :param str storage: The storage.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_search_context_image_features_with_http_info(search_context_id, image_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_search_context_image_features_with_http_info(search_context_id, image_id, **kwargs)  # noqa: E501
            return data

    def delete_search_context_image_features_with_http_info(self, search_context_id, image_id, **kwargs):  # noqa: E501
        """Deletes image features from search context.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_search_context_image_features_with_http_info(search_context_id, image_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_context_id: The search context identifier. (required)
        :param str image_id: The image identifier. (required)
        :param str folder: The folder.
        :param str storage: The storage.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search_context_id', 'image_id', 'folder', 'storage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_search_context_image_features" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'search_context_id' is set
        if ('search_context_id' not in params or
                params['search_context_id'] is None):
            raise ValueError("Missing the required parameter `search_context_id` when calling `delete_search_context_image_features`")  # noqa: E501
        # verify the required parameter 'image_id' is set
        if ('image_id' not in params or
                params['image_id'] is None):
            raise ValueError("Missing the required parameter `image_id` when calling `delete_search_context_image_features`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'search_context_id' in params:
            path_params['searchContextId'] = params['search_context_id']  # noqa: E501

        query_params = []
        if 'image_id' in params:
            query_params.append(('imageId', params['image_id']))  # noqa: E501
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/ai/imageSearch/{searchContextId}/features', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def download_file(self, path, **kwargs):  # noqa: E501
        """Download file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.download_file(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: File path e.g. '/folder/file.ext' (required)
        :param str storage_name: Storage name
        :param str version_id: File version ID to download
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.download_file_with_http_info(path, **kwargs)  # noqa: E501
        else:
            (data) = self.download_file_with_http_info(path, **kwargs)  # noqa: E501
            return data

    def download_file_with_http_info(self, path, **kwargs):  # noqa: E501
        """Download file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.download_file_with_http_info(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: File path e.g. '/folder/file.ext' (required)
        :param str storage_name: Storage name
        :param str version_id: File version ID to download
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['path', 'storage_name', 'version_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method download_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'path' is set
        if ('path' not in params or
                params['path'] is None):
            raise ValueError("Missing the required parameter `path` when calling `download_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path' in params:
            path_params['path'] = params['path']  # noqa: E501

        query_params = []
        if 'storage_name' in params:
            query_params.append(('storageName', params['storage_name']))  # noqa: E501
        if 'version_id' in params:
            query_params.append(('versionId', params['version_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['multipart/form-data'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/storage/file/{path}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_disc_usage(self, **kwargs):  # noqa: E501
        """Get disc usage  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_disc_usage(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str storage_name: Storage name
        :return: DiscUsage
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_disc_usage_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_disc_usage_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_disc_usage_with_http_info(self, **kwargs):  # noqa: E501
        """Get disc usage  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_disc_usage_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str storage_name: Storage name
        :return: DiscUsage
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['storage_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_disc_usage" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'storage_name' in params:
            query_params.append(('storageName', params['storage_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/storage/disc', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DiscUsage',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_file_versions(self, path, **kwargs):  # noqa: E501
        """Get file versions  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_file_versions(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: File path e.g. '/file.ext' (required)
        :param str storage_name: Storage name
        :return: FileVersions
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_file_versions_with_http_info(path, **kwargs)  # noqa: E501
        else:
            (data) = self.get_file_versions_with_http_info(path, **kwargs)  # noqa: E501
            return data

    def get_file_versions_with_http_info(self, path, **kwargs):  # noqa: E501
        """Get file versions  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_file_versions_with_http_info(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: File path e.g. '/file.ext' (required)
        :param str storage_name: Storage name
        :return: FileVersions
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['path', 'storage_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_file_versions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'path' is set
        if ('path' not in params or
                params['path'] is None):
            raise ValueError("Missing the required parameter `path` when calling `get_file_versions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path' in params:
            path_params['path'] = params['path']  # noqa: E501

        query_params = []
        if 'storage_name' in params:
            query_params.append(('storageName', params['storage_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/storage/version/{path}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FileVersions',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_files_list(self, path, **kwargs):  # noqa: E501
        """Get all files and folders within a folder  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_files_list(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: Folder path e.g. '/folder' (required)
        :param str storage_name: Storage name
        :return: FilesList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_files_list_with_http_info(path, **kwargs)  # noqa: E501
        else:
            (data) = self.get_files_list_with_http_info(path, **kwargs)  # noqa: E501
            return data

    def get_files_list_with_http_info(self, path, **kwargs):  # noqa: E501
        """Get all files and folders within a folder  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_files_list_with_http_info(path, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str path: Folder path e.g. '/folder' (required)
        :param str storage_name: Storage name
        :return: FilesList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['path', 'storage_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_files_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'path' is set
        if ('path' not in params or
                params['path'] is None):
            raise ValueError("Missing the required parameter `path` when calling `get_files_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'path' in params:
            path_params['path'] = params['path']  # noqa: E501

        query_params = []
        if 'storage_name' in params:
            query_params.append(('storageName', params['storage_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/storage/folder/{path}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FilesList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_image_bmp(self, name, bits_per_pixel, horizontal_resolution, vertical_resolution, **kwargs):  # noqa: E501
        """Update parameters of existing BMP image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_bmp(name, bits_per_pixel, horizontal_resolution, vertical_resolution, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param int bits_per_pixel: Color depth. (required)
        :param int horizontal_resolution: New horizontal resolution. (required)
        :param int vertical_resolution: New vertical resolution. (required)
        :param bool from_scratch: Specifies where additional parameters we do not support should be taken from. If this is true – they will be taken from default values for standard image, if it is false – they will be saved from current image. Default is false.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_image_bmp_with_http_info(name, bits_per_pixel, horizontal_resolution, vertical_resolution, **kwargs)  # noqa: E501
        else:
            (data) = self.get_image_bmp_with_http_info(name, bits_per_pixel, horizontal_resolution, vertical_resolution, **kwargs)  # noqa: E501
            return data

    def get_image_bmp_with_http_info(self, name, bits_per_pixel, horizontal_resolution, vertical_resolution, **kwargs):  # noqa: E501
        """Update parameters of existing BMP image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_bmp_with_http_info(name, bits_per_pixel, horizontal_resolution, vertical_resolution, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param int bits_per_pixel: Color depth. (required)
        :param int horizontal_resolution: New horizontal resolution. (required)
        :param int vertical_resolution: New vertical resolution. (required)
        :param bool from_scratch: Specifies where additional parameters we do not support should be taken from. If this is true – they will be taken from default values for standard image, if it is false – they will be saved from current image. Default is false.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'bits_per_pixel', 'horizontal_resolution', 'vertical_resolution', 'from_scratch', 'out_path', 'folder', 'storage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_image_bmp" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_image_bmp`")  # noqa: E501
        # verify the required parameter 'bits_per_pixel' is set
        if ('bits_per_pixel' not in params or
                params['bits_per_pixel'] is None):
            raise ValueError("Missing the required parameter `bits_per_pixel` when calling `get_image_bmp`")  # noqa: E501
        # verify the required parameter 'horizontal_resolution' is set
        if ('horizontal_resolution' not in params or
                params['horizontal_resolution'] is None):
            raise ValueError("Missing the required parameter `horizontal_resolution` when calling `get_image_bmp`")  # noqa: E501
        # verify the required parameter 'vertical_resolution' is set
        if ('vertical_resolution' not in params or
                params['vertical_resolution'] is None):
            raise ValueError("Missing the required parameter `vertical_resolution` when calling `get_image_bmp`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []
        if 'bits_per_pixel' in params:
            query_params.append(('bitsPerPixel', params['bits_per_pixel']))  # noqa: E501
        if 'horizontal_resolution' in params:
            query_params.append(('horizontalResolution', params['horizontal_resolution']))  # noqa: E501
        if 'vertical_resolution' in params:
            query_params.append(('verticalResolution', params['vertical_resolution']))  # noqa: E501
        if 'from_scratch' in params:
            query_params.append(('fromScratch', params['from_scratch']))  # noqa: E501
        if 'out_path' in params:
            query_params.append(('outPath', params['out_path']))  # noqa: E501
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/{name}/bmp', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_image_crop(self, name, format, x, y, width, height, **kwargs):  # noqa: E501
        """Crop an existing image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_crop(name, format, x, y, width, height, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of an image. (required)
        :param str format: Resulting image format. (required)
        :param int x: X position of start point for cropping rectangle. (required)
        :param int y: Y position of start point for cropping rectangle. (required)
        :param int width: Width of cropping rectangle (required)
        :param int height: Height of cropping rectangle. (required)
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_image_crop_with_http_info(name, format, x, y, width, height, **kwargs)  # noqa: E501
        else:
            (data) = self.get_image_crop_with_http_info(name, format, x, y, width, height, **kwargs)  # noqa: E501
            return data

    def get_image_crop_with_http_info(self, name, format, x, y, width, height, **kwargs):  # noqa: E501
        """Crop an existing image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_crop_with_http_info(name, format, x, y, width, height, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of an image. (required)
        :param str format: Resulting image format. (required)
        :param int x: X position of start point for cropping rectangle. (required)
        :param int y: Y position of start point for cropping rectangle. (required)
        :param int width: Width of cropping rectangle (required)
        :param int height: Height of cropping rectangle. (required)
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'format', 'x', 'y', 'width', 'height', 'out_path', 'folder', 'storage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_image_crop" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_image_crop`")  # noqa: E501
        # verify the required parameter 'format' is set
        if ('format' not in params or
                params['format'] is None):
            raise ValueError("Missing the required parameter `format` when calling `get_image_crop`")  # noqa: E501
        # verify the required parameter 'x' is set
        if ('x' not in params or
                params['x'] is None):
            raise ValueError("Missing the required parameter `x` when calling `get_image_crop`")  # noqa: E501
        # verify the required parameter 'y' is set
        if ('y' not in params or
                params['y'] is None):
            raise ValueError("Missing the required parameter `y` when calling `get_image_crop`")  # noqa: E501
        # verify the required parameter 'width' is set
        if ('width' not in params or
                params['width'] is None):
            raise ValueError("Missing the required parameter `width` when calling `get_image_crop`")  # noqa: E501
        # verify the required parameter 'height' is set
        if ('height' not in params or
                params['height'] is None):
            raise ValueError("Missing the required parameter `height` when calling `get_image_crop`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501
        if 'x' in params:
            query_params.append(('x', params['x']))  # noqa: E501
        if 'y' in params:
            query_params.append(('y', params['y']))  # noqa: E501
        if 'width' in params:
            query_params.append(('width', params['width']))  # noqa: E501
        if 'height' in params:
            query_params.append(('height', params['height']))  # noqa: E501
        if 'out_path' in params:
            query_params.append(('outPath', params['out_path']))  # noqa: E501
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/{name}/crop', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_image_emf(self, name, bk_color, page_width, page_height, border_x, border_y, **kwargs):  # noqa: E501
        """Process existing EMF imaging using given parameters.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_emf(name, bk_color, page_width, page_height, border_x, border_y, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param str bk_color: Color of the background. (required)
        :param int page_width: Width of the page. (required)
        :param int page_height: Height of the page. (required)
        :param int border_x: Border width. (required)
        :param int border_y: Border height. (required)
        :param bool from_scratch: Specifies where additional parameters we do not support should be taken from. If this is true – they will be taken from default values for standard image, if it is false – they will be saved from current image. Default is false.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :param str format: Export format (PNG is the default one).
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_image_emf_with_http_info(name, bk_color, page_width, page_height, border_x, border_y, **kwargs)  # noqa: E501
        else:
            (data) = self.get_image_emf_with_http_info(name, bk_color, page_width, page_height, border_x, border_y, **kwargs)  # noqa: E501
            return data

    def get_image_emf_with_http_info(self, name, bk_color, page_width, page_height, border_x, border_y, **kwargs):  # noqa: E501
        """Process existing EMF imaging using given parameters.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_emf_with_http_info(name, bk_color, page_width, page_height, border_x, border_y, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param str bk_color: Color of the background. (required)
        :param int page_width: Width of the page. (required)
        :param int page_height: Height of the page. (required)
        :param int border_x: Border width. (required)
        :param int border_y: Border height. (required)
        :param bool from_scratch: Specifies where additional parameters we do not support should be taken from. If this is true – they will be taken from default values for standard image, if it is false – they will be saved from current image. Default is false.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :param str format: Export format (PNG is the default one).
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'bk_color', 'page_width', 'page_height', 'border_x', 'border_y', 'from_scratch', 'out_path', 'folder', 'storage', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_image_emf" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_image_emf`")  # noqa: E501
        # verify the required parameter 'bk_color' is set
        if ('bk_color' not in params or
                params['bk_color'] is None):
            raise ValueError("Missing the required parameter `bk_color` when calling `get_image_emf`")  # noqa: E501
        # verify the required parameter 'page_width' is set
        if ('page_width' not in params or
                params['page_width'] is None):
            raise ValueError("Missing the required parameter `page_width` when calling `get_image_emf`")  # noqa: E501
        # verify the required parameter 'page_height' is set
        if ('page_height' not in params or
                params['page_height'] is None):
            raise ValueError("Missing the required parameter `page_height` when calling `get_image_emf`")  # noqa: E501
        # verify the required parameter 'border_x' is set
        if ('border_x' not in params or
                params['border_x'] is None):
            raise ValueError("Missing the required parameter `border_x` when calling `get_image_emf`")  # noqa: E501
        # verify the required parameter 'border_y' is set
        if ('border_y' not in params or
                params['border_y'] is None):
            raise ValueError("Missing the required parameter `border_y` when calling `get_image_emf`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []
        if 'bk_color' in params:
            query_params.append(('bkColor', params['bk_color']))  # noqa: E501
        if 'page_width' in params:
            query_params.append(('pageWidth', params['page_width']))  # noqa: E501
        if 'page_height' in params:
            query_params.append(('pageHeight', params['page_height']))  # noqa: E501
        if 'border_x' in params:
            query_params.append(('borderX', params['border_x']))  # noqa: E501
        if 'border_y' in params:
            query_params.append(('borderY', params['border_y']))  # noqa: E501
        if 'from_scratch' in params:
            query_params.append(('fromScratch', params['from_scratch']))  # noqa: E501
        if 'out_path' in params:
            query_params.append(('outPath', params['out_path']))  # noqa: E501
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/{name}/emf', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_image_frame(self, name, frame_id, **kwargs):  # noqa: E501
        """Get separate frame from existing TIFF image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_frame(name, frame_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param int frame_id: Number of a frame. (required)
        :param int new_width: New width.
        :param int new_height: New height.
        :param int x: X position of start point for cropping rectangle.
        :param int y: Y position of start point for cropping rectangle.
        :param int rect_width: Width of cropping rectangle.
        :param int rect_height: Height of cropping rectangle.
        :param str rotate_flip_method: RotateFlip method (Rotate180FlipNone, Rotate180FlipX, Rotate180FlipXY, Rotate180FlipY, Rotate270FlipNone, Rotate270FlipX, Rotate270FlipXY, Rotate270FlipY, Rotate90FlipNone, Rotate90FlipX, Rotate90FlipXY, Rotate90FlipY, RotateNoneFlipNone, RotateNoneFlipX, RotateNoneFlipXY, RotateNoneFlipY). Default is RotateNoneFlipNone.
        :param bool save_other_frames: If result will include all other frames or just a specified frame.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_image_frame_with_http_info(name, frame_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_image_frame_with_http_info(name, frame_id, **kwargs)  # noqa: E501
            return data

    def get_image_frame_with_http_info(self, name, frame_id, **kwargs):  # noqa: E501
        """Get separate frame from existing TIFF image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_frame_with_http_info(name, frame_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param int frame_id: Number of a frame. (required)
        :param int new_width: New width.
        :param int new_height: New height.
        :param int x: X position of start point for cropping rectangle.
        :param int y: Y position of start point for cropping rectangle.
        :param int rect_width: Width of cropping rectangle.
        :param int rect_height: Height of cropping rectangle.
        :param str rotate_flip_method: RotateFlip method (Rotate180FlipNone, Rotate180FlipX, Rotate180FlipXY, Rotate180FlipY, Rotate270FlipNone, Rotate270FlipX, Rotate270FlipXY, Rotate270FlipY, Rotate90FlipNone, Rotate90FlipX, Rotate90FlipXY, Rotate90FlipY, RotateNoneFlipNone, RotateNoneFlipX, RotateNoneFlipXY, RotateNoneFlipY). Default is RotateNoneFlipNone.
        :param bool save_other_frames: If result will include all other frames or just a specified frame.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'frame_id', 'new_width', 'new_height', 'x', 'y', 'rect_width', 'rect_height', 'rotate_flip_method', 'save_other_frames', 'out_path', 'folder', 'storage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_image_frame" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_image_frame`")  # noqa: E501
        # verify the required parameter 'frame_id' is set
        if ('frame_id' not in params or
                params['frame_id'] is None):
            raise ValueError("Missing the required parameter `frame_id` when calling `get_image_frame`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501
        if 'frame_id' in params:
            path_params['frameId'] = params['frame_id']  # noqa: E501

        query_params = []
        if 'new_width' in params:
            query_params.append(('newWidth', params['new_width']))  # noqa: E501
        if 'new_height' in params:
            query_params.append(('newHeight', params['new_height']))  # noqa: E501
        if 'x' in params:
            query_params.append(('x', params['x']))  # noqa: E501
        if 'y' in params:
            query_params.append(('y', params['y']))  # noqa: E501
        if 'rect_width' in params:
            query_params.append(('rectWidth', params['rect_width']))  # noqa: E501
        if 'rect_height' in params:
            query_params.append(('rectHeight', params['rect_height']))  # noqa: E501
        if 'rotate_flip_method' in params:
            query_params.append(('rotateFlipMethod', params['rotate_flip_method']))  # noqa: E501
        if 'save_other_frames' in params:
            query_params.append(('saveOtherFrames', params['save_other_frames']))  # noqa: E501
        if 'out_path' in params:
            query_params.append(('outPath', params['out_path']))  # noqa: E501
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/{name}/frames/{frameId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_image_frame_properties(self, name, frame_id, **kwargs):  # noqa: E501
        """Get separate frame properties of existing TIFF image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_frame_properties(name, frame_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename with image. (required)
        :param int frame_id: Number of a frame. (required)
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: ImagingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_image_frame_properties_with_http_info(name, frame_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_image_frame_properties_with_http_info(name, frame_id, **kwargs)  # noqa: E501
            return data

    def get_image_frame_properties_with_http_info(self, name, frame_id, **kwargs):  # noqa: E501
        """Get separate frame properties of existing TIFF image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_frame_properties_with_http_info(name, frame_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename with image. (required)
        :param int frame_id: Number of a frame. (required)
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: ImagingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'frame_id', 'folder', 'storage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_image_frame_properties" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_image_frame_properties`")  # noqa: E501
        # verify the required parameter 'frame_id' is set
        if ('frame_id' not in params or
                params['frame_id'] is None):
            raise ValueError("Missing the required parameter `frame_id` when calling `get_image_frame_properties`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501
        if 'frame_id' in params:
            path_params['frameId'] = params['frame_id']  # noqa: E501

        query_params = []
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/{name}/frames/{frameId}/properties', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ImagingResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_image_gif(self, name, **kwargs):  # noqa: E501
        """Update parameters of existing GIF image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_gif(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param int background_color_index: Index of the background color.
        :param int color_resolution: Color resolution.
        :param bool has_trailer: Specifies if image has trailer.
        :param bool interlaced: Specifies if image is interlaced.
        :param bool is_palette_sorted: Specifies if palette is sorted.
        :param int pixel_aspect_ratio: Pixel aspect ratio.
        :param bool from_scratch: Specifies where additional parameters we do not support should be taken from. If this is true – they will be taken from default values for standard image, if it is false – they will be saved from current image. Default is false.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_image_gif_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_image_gif_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def get_image_gif_with_http_info(self, name, **kwargs):  # noqa: E501
        """Update parameters of existing GIF image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_gif_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param int background_color_index: Index of the background color.
        :param int color_resolution: Color resolution.
        :param bool has_trailer: Specifies if image has trailer.
        :param bool interlaced: Specifies if image is interlaced.
        :param bool is_palette_sorted: Specifies if palette is sorted.
        :param int pixel_aspect_ratio: Pixel aspect ratio.
        :param bool from_scratch: Specifies where additional parameters we do not support should be taken from. If this is true – they will be taken from default values for standard image, if it is false – they will be saved from current image. Default is false.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'background_color_index', 'color_resolution', 'has_trailer', 'interlaced', 'is_palette_sorted', 'pixel_aspect_ratio', 'from_scratch', 'out_path', 'folder', 'storage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_image_gif" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_image_gif`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []
        if 'background_color_index' in params:
            query_params.append(('backgroundColorIndex', params['background_color_index']))  # noqa: E501
        if 'color_resolution' in params:
            query_params.append(('colorResolution', params['color_resolution']))  # noqa: E501
        if 'has_trailer' in params:
            query_params.append(('hasTrailer', params['has_trailer']))  # noqa: E501
        if 'interlaced' in params:
            query_params.append(('interlaced', params['interlaced']))  # noqa: E501
        if 'is_palette_sorted' in params:
            query_params.append(('isPaletteSorted', params['is_palette_sorted']))  # noqa: E501
        if 'pixel_aspect_ratio' in params:
            query_params.append(('pixelAspectRatio', params['pixel_aspect_ratio']))  # noqa: E501
        if 'from_scratch' in params:
            query_params.append(('fromScratch', params['from_scratch']))  # noqa: E501
        if 'out_path' in params:
            query_params.append(('outPath', params['out_path']))  # noqa: E501
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/imaging/{name}/gif', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='file',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_image_jpeg2000(self, name, comment, **kwargs):  # noqa: E501
        """Update parameters of existing JPEG2000 image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_jpeg2000(name, comment, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param str comment: The comment. (required)
        :param str codec: The codec.
        :param bool from_scratch: Specifies where additional parameters we do not support should be taken from. If this is true – they will be taken from default values for standard image, if it is false – they will be saved from current image. Default is false.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_image_jpeg2000_with_http_info(name, comment, **kwargs)  # noqa: E501
        else:
            (data) = self.get_image_jpeg2000_with_http_info(name, comment, **kwargs)  # noqa: E501
            return data

    def get_image_jpeg2000_with_http_info(self, name, comment, **kwargs):  # noqa: E501
        """Update parameters of existing JPEG2000 image.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_jpeg2000_with_http_info(name, comment, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Filename of image. (required)
        :param str comment: The comment. (required)
        :param str codec: The codec.
        :param bool from_scratch: Specifies where additional parameters we do not support should be taken from. If this is true – they will be taken from default values for standard image, if it is false – they will be saved from current image. Default is false.
        :param str out_path: Path to updated file (if this is empty, response contains streamed image).
        :param str folder: Folder with image to process.
        :param str storage: Your Aspose Cloud Storage name.
        :return: file
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'comment', 'codec', 'from_scratch', 'out_path', 'folder', 'storage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_image_jpeg2000" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_image_jpeg2000`")  # noqa: E501
        # verify the required parameter 'comment' is set
        if ('comment' not in params or
                params['comment'] is None):
            raise ValueError("Missing the required parameter `comment` when calling `get_image_jpeg2000`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []
        if 'comment' in params:
            query_params.append(('comment', params['comment']))  # noqa: E501
        if 'codec' in params:
            query_params.append(('codec', params['codec']))  # noqa: E501
        if 'from_scratch' in params:
            query_params.append(('fromScratch', params['from_scratch']))  # noqa: E501
        if 'out_path' in params:
            query_params.append(('outPath', params['out_path']))  # noqa: E501
        if 'folder' in params:
            query_params.append(('folder', params['folder']))  # noqa: E501
        if 'storage' in params:
            query_params.append(('storage', params['storage']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
[...]
